@model test.ViewModel.MessagesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="result">
    @{ Html.RenderPartial("MessageDetails", @Model); }
</div>











@section Form{

    @using (Html.BeginForm("SaveMessage", "Home", FormMethod.Post,

        new { id = "mesForm", @class = "form", enctype = "multipart/form-data" }))
    {
        <div>
            @Html.Label("Name", "Имя")
            @Html.TextBox("Name", "", new { placeholder = "Введите имя" })
        </div>
        <div>
            @Html.Label("Message", "Сообщение")
            @Html.TextArea("Message", new { @style = "width:450px;", @placeholder = "Введите сообщение здесь" })
        </div>
        <div class="att">
            <fieldset>


                <span class="cross"></span>
                <span class="label">Добавьте вложения</span>
                @Html.Label("Link", "Введите ссылку")
                @Html.TextBox("Link", "", new { placeholder = "link" })



                <input id="uploadFile" type="file" name="files" accept="image/jpeg,image/png,image/gif" multiple="true" />
            </fieldset>
        </div>
        <p>
            <input id="mesFormSubmit" type="button" value="Отправить" class="btn btn-success" />
        </p>
    }

}



@section scripts{
    
    <script type="text/javascript">
    $(document).ready(function () {

        setInterval(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Home")',
                    data: "page=" + @Model.Paging.CurrentPage,
                    success: function (result) {
                        $('#result').empty();
                        $('#result').html(result);
                    }
                });
            }, 1000);

            var updateMessages = function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Index", "Home")',
                data: "",
                success: function (result) {
                    $('#result').empty();
                    $('#result').html(result);
                }
            });
        };


        $('#result').on('click', '.page', function (event) {
            var Id = $(this).attr('data-ajax');
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Home")',
                data: "page=" + Id,
                success: function (result) {
                    $('#result').empty();
                    $('#result').html(result);
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }

            });

            return false;

        })


        $('#mesFormSubmit').on('click', function (e) {

            var postbody = $("#mesForm").serializeArray();
            var files = document.getElementById('uploadFile').files;
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < postbody.length; i++) {
                    data.append(postbody[i].name, postbody[i].value);
                }
                if (files.length > 0) {
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                }
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveMessage", "Home")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {

                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });

        });

        $('.cross').on('click', function (e) {
            var el = $('.add');
            $('#uploadFile').before("<input type='url' name='Link' value='link'placeholder = 'link'>");
        });


    })

    </script>
}