@using MvcPaging
@model test.ViewModel.MessagesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="result">
    @{ Html.RenderPartial("MessageDetails", @Model.Messages); }
</div>

@section Form{
  
    @using (Ajax.BeginForm("SaveMessage", "Home",
        new {},
        new AjaxOptions { OnSuccess = "updateMessages"}, 
        new { @class = "form", enctype = "multipart/form-data" }))
    {
        <div>
            @Html.Label("Name", "Имя")
            @Html.TextBox("Name", "", new { placeholder = "Введите имя" })
        </div>
        <div>
            @Html.Label("Message", "Сообщение")
            @Html.TextArea("Message", new { @style = "width: 450px;", @placeholder = "Введите сообщение здесь" })
        </div>
        <div class="att">
            <fieldset>
                <span class="label">Добавьте вложения</span>
                @Html.Label("Link", "Введите ссылку")
                @Html.TextBox("Link", "", new { placeholder = "link" })

                <input type="file" name="fileInput" accept="image/jpeg,image/png,image/gif" multiple="true" />
            </fieldset>
       </div>
       <p><input type="submit" value="Отправить" class="btn btn-success"/></p>
    }
}



@section scripts{
    <script type="text/javascript">
   

    setInterval(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Home")',
            data: "",
            success: function (result) {
                $('#result').empty();
                $('#result').html(result);
            }
        });
    }, 5000);


        var updateMessages = function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Home")',
                data: "",
                success: function (result) {
                    $('#result').empty();
                    $('#result').html(result);
                }
            });
        };



   </script>
}