@using MvcPaging
@model test.ViewModel.MessagesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


      @{ Html.RenderPartial("MessageDetails", @Model.Messages);}


@section Form{
   
    @using (Ajax.BeginForm("SaveMessage", "Home", new AjaxOptions { UpdateTargetId = "result"}, new { @class = "form", enctype = "multipart/form-data" }))
    {
        <div>
            @Html.Label("Name", "Имя")
            @Html.TextBox("Name", "", new { placeholder = "Введите имя" })
        </div>
        <div>
            @Html.Label("Message", "Сообщение")
            @Html.TextArea("Message", new { @style = "width: 450px;", @placeholder = "Введите сообщение здесь" })
        </div>
        <div class="att">
            <fieldset>
                <span class="label">Добавьте вложения</span>
                @Html.Label("Link", "Введите ссылку")
                @Html.TextBox("Link", "", new { placeholder = "link" })

                <input type="file" id="" value="" name="file[]" accept="image/jpeg,image/png,image/gif" multiple="true" />
            </fieldset>
       </div>
       <p><input type="submit" value="Отправить" class="btn btn-success"/></p>
    }
}



@section scripts{
    <script type="text/javascript">
    $('.like').on('click', function (event) {
        var Id = $(this).attr('data-ajax');

        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeInc", "Home")',
            data: "messadgeId=" + Id,
            success: function (result) {

            },
            error: function (xhr, status, p3) {
                alert(xhr.responseText);
            }
        });
        return false;
    });

        $('.del').on('click', function (event) {
            var Id = $(this).attr('data-ajax');

            $.ajax({
                type: "POST",
                url: '@Url.Action("DellMessage", "Home")',
                data: "messadgeId=" + Id,
                success: function (result) {

                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });
            return false;
        });


    setInterval(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Home")',
            data: "",
            success: function (rsult) {
               
            }
        });
    }, 10000);



   </script>
}