@model List<test.ViewModel.MessageWithAttachemtns>


@foreach (var messageModel in @Model)
    {
    <div class="message">
        @*<div>ИД @messageModel.Message.Id</div>*@
            <div>ИД пользователя @messageModel.Message.IdUser</div>
        <h3 class="text-warning">@messageModel.Message.Name</h3>
        <div>@messageModel.Message.Text</div>
        @{
            int count = @messageModel.Message.LikeCount;
        }

        @Ajax.ActionLink(@count.ToString(), "LikeInc", "Home", new { messadgeId = @messageModel.Message.Id },
            new AjaxOptions { OnSuccess = "updateMessages", HttpMethod = "POST" },
            new { @class = "like" }
        )
              
        <p>Вложения:</p>
        <ul>
            @foreach (var attach in @messageModel.Attachment)
            {
                <li>
                    <a href="@attach.Attachment" target="_blank">@attach.Attachment</a>
                </li>
            }
        </ul>
        @if (ViewBag.userId != null && ViewBag.userId == @messageModel.Message.IdUser)
            {
               @Ajax.ActionLink("Удалить", "DellMessage", "Home",
                   new { messadgeId = @messageModel.Message.Id },
                   new AjaxOptions { OnSuccess = "updateMessages", HttpMethod ="POST"},
                         new { @class = "dell" }
               )
            }
    </div>
    }


